@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&family=Sono:wght@800&display=swap');

#root {
  font-family: Poppins, Verdana, sans-serif;
  --border-width: 2px;
  --border-radius: 0.3rem;
  background-color: rgb(0, 6, 13);
}

[data-theme=light],
:root:not([data-theme=dark]) {
  color-scheme: light;
  --background-color: rgb(0, 6, 13);
  --color: rgb(255, 255, 255);
  --muted-color: rgb(63, 75, 89);
  --h1-color: rgb(255, 255, 255);
  --h2-color: var(--primary);
  --h3-color: var(--primary);
  --primary: rgb(81, 133, 180);
  --primary-hover: rgb(67, 115, 157);
  --primary-focus: rgba(61, 105, 143, 0.25);
  --primary-inverse: #fff;
  --secondary: var(--muted-color);
  --secondary-hover: rgb(51, 61, 72);
  --form-element-background-color: white;
  --form-element-border-color: white;
  --form-element-color: black;
  --form-element-placeholder-color: var(--muted-color);
  --form-element-active-background-color: var(--form-element-background-color);
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --typography-spacing-vertical: 0;
}

/* Pages */

.App {
  width: 100%;
}

.ShowCreators {
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* Components */

header {
  height: 600px;
  background-image: url("./assets/banner.jpg");
  background-size: cover;
  background-position: center;
  border-bottom: 2px solid rgb(66, 74, 89);
  text-align: center;
  padding-top: 8em;
}

nav {
  display: flex;
  justify-content: center;
}

nav li {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: center;
}

main {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
}

/* creator card */

.Card {
  border: 2px solid var(--muted-color);
  background-size: cover;
  background-position-y: 20%;
  background-repeat: no-repeat;
  border-radius: 4px;
  margin: 10px;
  width: 40%;
  height: 340px;
}

article {
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.9) 100%);
  margin: 0px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  overflow: hidden;
}

.card-header-name {
  grid-area: 1 / 1 / 2 / 2;
  height: 100%;
  padding-top: 40px;
}

.card-header-name span {
  cursor: pointer;
  font-size: 1.5em;
  margin-right: 13px;
}

.card-header-edit {
  padding-top: 40px;
  font-size: 20px;
  grid-area: 1 / 2 / 2 / 3;
  text-align: right;
  height: 100%;
}

.card-description {
  padding-top: 20px;
  width: 100%;
  grid-column: span 2;
  margin: 0px;
}

.card-description p {
  font-size: 0.8em;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* Typography */

h1 {
  font-family: Sono;
  font-size: 8vw;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  line-height: 1em;
}

h2,
h3 {
  font-family: Poppins;
  font-weight: 700;
  margin-bottom: 18px;
}

h2 {
  font-size: 3vw;
}

h3 {
  font-size: 1.6vw;
  text-shadow: 1px 1px 1px #00060D;
}

p {
  font-size: 12px;
  line-height: 1.5em;
}

/* add and edit form */

.AddEditCreator {
  width: 40%;
}

form p {
  font-size: 0.6em;
  font-style: italic;
  padding-bottom: 10px;
}

label {
  font-size: 20px;
}

input, textarea {
  font-size: 0.8em;
}

label span {
  margin-right: 10px;
}

.submit-or-delete {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.submit-or-delete button {
  width: 40%;
}

/* Buttons and Links */

a {
  text-decoration: none;
  color: var(--primary-inverse);
  padding: 6px;
}

button,
input[type=button],
[role=button] {
  --background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 3px;
  font-family: Poppins;
  font-weight: 700;
  color: white;
  font-size: 20px;
  letter-spacing: 1.3px;
  height: 3em;
  text-transform: uppercase;
  cursor: pointer;
  
}

[role=button] {
  width: 15em;
}

input[type=submit] {
  background-color:#287A00;
  border: 1px solid transparent;
  border-radius: 5px;
  height: 3em;
  font-family: inherit;
  color: white;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 5px;
  text-transform: uppercase;
  cursor: pointer;
}

button:is([aria-current], :hover, :active, :focus),
input[type=submit]:is([aria-current], :hover, :active, :focus),
input[type=button]:is([aria-current], :hover, :active, :focus),
input[type=reset]:is([aria-current], :hover, :active, :focus),
[role=button]:is([aria-current], :hover, :active, :focus) {
  border-color: white;
}

.delete-button {
  --background-color: rgb(255, 96, 92);
}

.delete-button:hover {
  --background-color: rgb(255, 54, 51);
}

/* creator info page */

.ViewCreator {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 3rem;
  width: 70%;
}

.creator-image img {
  height: 400px;
  width: 400px;
  border: 2px solid var(--primary);
  border-radius: var(--border-radius);
  object-fit: cover;
}

.creator-info p {
  font-size: 1em;
}

.social-button {
  --background-color: none;
  display: flex;
  width: max-content;
  font-size: 1em;
  text-transform: lowercase;
  margin-top: 20px;
  margin-left: 0px;
  justify-content: flex-start;
  padding-left: 0px;
  transition: all 0.5s;
}

.social-button:hover {
  padding-left: 15px;
}

.social-button i {
  font-size: 1.2em;
  margin-right: 13px;
}

.modify-creator {
  display: flex;
  grid-column: span 2;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  height: max-content;
}

.modify-creator button {
  width: 15em;
  margin-bottom: 0px;
  margin-left: 40px;
  margin-right: 40px;
}

/* delete confirmation modal */

.delete-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  border: 4px solid var(--primary);
  border-radius: 4px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40em;
  height: 30em;
}

.delete-modal p {
  font-family: Poppins, sans-serif;
  font-size: 1.2em;
  margin-bottom: 40px;
}

.delete-modal button {
  width: 17em;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}